<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<body>
    <header th:replace="fragments/fragment :: navigation"></header>
    <main>
        <div class="container bg-blur rounded mt-5 ">
            <h1>Welcome Honey Paradise</h1>

                <div class="b">
                    <p class="a">       Honey Paradise is a popular honey sales site.
                        <br>
                        Here you will see the most diverse types and types of honey,
                        <br>
                        which you can then naturally buy</p>
                </div>
            </div>
    </main>

    <link th:replace="fragments/fragment :: icon">

    <footer th:replace="fragments/fragment :: footer"></footer>
</body>
</html>
