<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head::head"></head>
<body>
<header th:replace="fragments/navbar::nav">
</header>
<main >
        <h1 class="container">
                <div class="container bg-blur rounded mt-5 ">
                    <h1>Welcome to my website</h1>
                    <hr class="my-3 bg-white w-50"/>
                    <p class="h4">In this site you can lean new wonderful place in Bulgaria, and have fun.</p>
                    <p class="h4">If you go to amazing place or city and you want to share it you can do it here! </p>
                    <hr class="my-3 bg-white w-75" />
                    <h3>
                        <a class="text-primay" href="/users/login">Login</a>
                        if you have an account or
                        <a class="text-primay" href="/users/register">Register</a>
                        now and check this site.
                    </h3>
            </div>

        </h1>


</main>
<footer class="container-fluid"  th:replace="fragments/footer::footer"></footer>
</body>
</html>