<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">>
<head th:fragment="head">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Honey Paradise</title>
    <link rel="stylesheet" href="/css/reset-css.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/style.css"/>
</head>
<body>
<header>
    <nav th:fragment="navigation" class="navbar navbar-expand-lg bg-nav rounded">
        <a class="nav-link text-white active h5" href="/">Shopping List App</a>
        <a th:if="${session.user != null}" class="nav-link text-white active h5" href="/">Add Product</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div th:fragment="navbar" class="login-register">

            <nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto col-12 justify-content-between">
                        <!-- Logout start -->
                        <li class="nav-item">
                            <div class="form-inline my-2 my-lg-0 px-3" sec:authorize="isAuthenticated()">
                                <div class="text-white" >Welcome, <th:block sec:authentication="name">Guest</th:block>!</div>
                            </div>

                        </li>
                        <!-- EO: Logout start -->

                        <li class="nav-item"  sec:authorize="!isAuthenticated()">
                            <a  class="nav-link" th:href="@{/users/register}">Register</a>
                        </li>
                        <li class="nav-item" sec:authorize="!isAuthenticated()">
                            <a class="nav-link" th:href="@{/users/login}">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </nav>
</header>

<link th:fragment="icon" rel="shortcut icon" href="/img/bee.jpg"/>

<footer th:fragment="footer" class="footer">
    <div class="footerContainer">
        <p class="copyright">© Copyright 2022-2022, HoneyParadise. All rights reserved.</p>
    </div>
</footer>
</body>
</html>